//- 모든 페이지들의 토대
//- header, footer, HTML head 태그, css link
//- main 태그에 다른 모든 페이지들의 내용이 들어갈 것

doctype html
html
    head
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp", crossorigin="anonymous")
        title | #{siteName}
    body
        include ../partials/header
        main
            block content
        include ../partials/footer