//- 모든 페이지들의 토대
//- header, footer, HTML head 태그, css link
//- main 태그에 다른 모든 페이지들의 내용이 들어갈 것

doctype html
html
    head
        title WeTube
    body
        header
            h1 WeTube
        main
            block content
        footer
            span &copy; WeTube 